In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, split, count, min, max

In [12]:
import pandas as pd
df = pd.read_excel("Job opportunities.xlsx")
df.to_csv("Job opportunities.csv", index=False)

In [14]:
# Convert the pandas DataFrame to a Spark DataFrame
df_spark = spark.createDataFrame(df)

# Now you can perform the groupBy operation
df_spark.groupBy("Location").count().show()

+----------+-----+
|  Location|count|
+----------+-----+
| Edinburgh|   35|
|Manchester|   43|
|   Glasgow|   39|
|   Cardiff|   29|
|    London|   28|
|Birmingham|   48|
| Sheffield|   32|
|   Bristol|   24|
| Newcastle|   15|
|     Leeds|   35|
| Liverpool|   16|
|Nottingham|   20|
+----------+-----+

In [15]:
df_spark.groupBy("Company").count().orderBy(col("count").desc()).show(5)

+--------------+-----+
|       Company|count|
+--------------+-----+
| Data Insights|   16|
|Cloud Analysts|   12|
| Web Creations|   12|
|   IT Training|   11|
|   SecureGuard|    9|
+--------------+-----+
only showing top 5 rows

In [16]:
df_spark.groupBy("Experience Level").count().show()

+----------------+-----+
|Experience Level|count|
+----------------+-----+
|          Senior|   70|
|     Entry-Level|   17|
|       Mid-Level|  216|
|          Junior|   58|
|      Internship|    3|
+----------------+-----+

In [17]:
df_spark.select("Industry").distinct().show()

+--------------------+
|            Industry|
+--------------------+
|           Education|
|               Audit|
|               Sales|
|Software Development|
| Business Continuity|
|            Security|
|         IT Analysis|
|    Machine Learning|
|     Cloud Computing|
|         IT Services|
|   Change Management|
|          Networking|
|              Ethics|
|       Data Analysis|
|    Data Engineering|
|  Mobile Development|
|   Quality Assurance|
|    Asset Management|
|            Research|
|        Data Privacy|
+--------------------+
only showing top 20 rows

In [18]:
df_spark.filter(col("Required Skills").like("%Python%")).count()

25

In [19]:
df_spark.groupBy("Job Title").count().orderBy(col("count").desc()).show(5)

+--------------------+-----+
|           Job Title|count|
+--------------------+-----+
|IT Support Specia...|   16|
|Cloud Solutions A...|   12|
|Full-stack Developer|   12|
|          IT Trainer|   11|
|Cybersecurity Ana...|    9|
+--------------------+-----+
only showing top 5 rows

In [21]:
df_spark.select(min("Date Posted").alias("Earliest"), max("Date Posted").alias("Latest")).show()

+-------------------+-------------------+
|           Earliest|             Latest|
+-------------------+-------------------+
|2019-01-10 00:00:00|2023-12-31 00:00:00|
+-------------------+-------------------+